# Midterm project

In [2]:
import pandas as pd
import numpy as np

In [3]:
#importing data
df=pd.read_csv('C:/Users/bd/lighthouse-data-notes/Week_5/Day_5/flights.txt')
pd.set_option('display.max_columns',100)
df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-06-04,UA,UA,UA,2094,UA,N815UA,2094,12266,IAH,"Houston, TX",12953,LGA,"New York, NY",1630,1742.0,72.0,12.0,1754.0,2149.0,37.0,2102,2226.0,84.0,0,NaN,0,N,212,224.0,175.0,1,1416,9.0,0.0,12.0,0.0,63.0,NaN,NaN,NaN,NaN
1,2019-10-14,DL,DL,DL,2953,DL,N811DZ,2953,12889,LAS,"Las Vegas, NV",14869,SLC,"Salt Lake City, UT",1407,1543.0,96.0,24.0,1607.0,1803.0,5.0,1630,1808.0,98.0,0,NaN,0,N,83,85.0,56.0,1,368,96.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN
2,2019-04-26,B6,B6,B6,952,B6,N563JB,952,13204,MCO,"Orlando, FL",10721,BOS,"Boston, MA",1303,1419.0,76.0,13.0,1432.0,1705.0,10.0,1601,1715.0,74.0,0,NaN,0,N,178,176.0,153.0,1,1121,0.0,0.0,74.0,0.0,0.0,NaN,NaN,NaN,NaN
3,2018-07-23,UA,UA_CODESHARE,UA,3433,YX,N645RW,3433,11292,DEN,"Denver, CO",11109,COS,"Colorado Springs, CO",1400,1357.0,-3.0,10.0,1407.0,1426.0,6.0,1447,1432.0,-15.0,0,NaN,0,N,47,35.0,19.0,1,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-25,AA,AA_CODESHARE,AA,5206,OH,N508AE,5206,11617,EWN,"New Bern/Morehead/Beaufort, NC",11057,CLT,"Charlotte, NC",911,905.0,-6.0,13.0,918.0,1004.0,10.0,1044,1014.0,-30.0,0,NaN,0,N,93,69.0,46.0,1,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#verifying null elements in the features
df.isnull().sum()

fl_date                    0
mkt_unique_carrier         0
branded_code_share         0
mkt_carrier                0
mkt_carrier_fl_num         0
op_unique_carrier          0
tail_num                  33
op_carrier_fl_num          0
origin_airport_id          0
origin                     0
origin_city_name           0
dest_airport_id            0
dest                       0
dest_city_name             0
crs_dep_time               0
dep_time                 159
dep_delay                166
taxi_out                 168
wheels_off               168
wheels_on                174
taxi_in                  174
crs_arr_time               0
arr_time                 172
arr_delay                190
cancelled                  0
cancellation_code       9834
diverted                   0
dup                        0
crs_elapsed_time           0
actual_elapsed_time      189
air_time                 191
flights                    0
distance                   0
carrier_delay           8091
weather_delay           8091
nas_delay               8091
security_delay          8091
late_aircraft_delay     8091
first_dep_time          9932
total_add_gtime         9932
longest_add_gtime       9932
no_name                10000
dtype: int64

In [5]:
#creating a copy of the data
data=df.copy()

In [6]:
#For null in delays it will be filled by 0
data['arr_delay'].fillna(0)
data['dep_delay'].fillna(0)

0       72.0
1       96.0
2       76.0
3       -3.0
4       -6.0
        ...
9995    -3.0
9996    -7.0
9997    -2.0
9998    -1.0
9999     4.0
Name: dep_delay, Length: 10000, dtype: float64

In [7]:
#getting year and month from fl_date column
from datetime import datetime
data['fl_date'] = pd.to_datetime(data['fl_date'],format='%Y-%m-%d')
data['year'] = pd.DatetimeIndex(data['fl_date']).year
data['month'] = pd.DatetimeIndex(data['fl_date']).month

In [8]:
#crs_arr_time doesn't have missing values and arr_time has
#we are going to inpute the same time that crs_arr_time in arr_time
#for the missing values

import math

i=0
while i <10000:
    if math.isnan(data['arr_time'][i]):
        data['arr_time'].loc[i]=data['crs_arr_time'][i]
    i+=1
data['arr_time'].isnull().any()

C:\Users\bd\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

False

In [9]:
#crs_dep_time doesn't have missing values and dep_time has
#we are going to inpute the same time that crs_dep_time in dep_time
#for the missing values

i=0
while i <10000:
    if math.isnan(data['dep_time'][i]):
        data['dep_time'].loc[i]=data['crs_dep_time'][i]
    i+=1
data['dep_time'].isnull().any()

False

In [10]:
#crs_elapsed_time doesn't have missing values and actual_elapsed_time has
#we are going to inpute the same time that crs_elapsed_time in actual_elapsed_time
#for the missing values

i=0
while i <10000:
    if math.isnan(data['actual_elapsed_time'][i]):
        data['actual_elapsed_time'].loc[i]=data['crs_elapsed_time'][i]
    i+=1
data['actual_elapsed_time'].isnull().any()

False

In [11]:
#getting hour and minutes from dep_time and arr_time
data['minutes']=data['dep_time']%100

trunc = lambda x: math.trunc(x / 100);
data['hours']=data['dep_time'].apply(trunc)

data['minutes']=data['arr_time']%100

trunc = lambda x: math.trunc(x / 100);
data['hours']=data['arr_time'].apply(trunc)

In [12]:
#droping rows wit nan in columns air_time and arr_delay
data.dropna(subset = ["air_time",'arr_delay','dep_delay'], inplace=True)
data.isnull().sum()

fl_date                   0
mkt_unique_carrier        0
branded_code_share        0
mkt_carrier               0
mkt_carrier_fl_num        0
op_unique_carrier         0
tail_num                  0
op_carrier_fl_num         0
origin_airport_id         0
origin                    0
origin_city_name          0
dest_airport_id           0
dest                      0
dest_city_name            0
crs_dep_time              0
dep_time                  0
dep_delay                 0
taxi_out                  0
wheels_off                0
wheels_on                 0
taxi_in                   0
crs_arr_time              0
arr_time                  0
arr_delay                 0
cancelled                 0
cancellation_code      9802
diverted                  0
dup                       0
crs_elapsed_time          0
actual_elapsed_time       0
air_time                  0
flights                   0
distance                  0
carrier_delay          7895
weather_delay          7895
nas_delay              7895
security_delay         7895
late_aircraft_delay    7895
first_dep_time         9741
total_add_gtime        9741
longest_add_gtime      9741
no_name                9802
year                      0
month                     0
minutes                   0
hours                     0
dtype: int64

In [13]:
#change to a category to convert to numbers
#for mkt_unique_carrier
data["mkt_unique_carrier"] = data["mkt_unique_carrier"].astype('category')
data["mkt_unique_carrier"] = data["mkt_unique_carrier"].cat.codes

#for mkt_unique_carrier
data["op_unique_carrier"] = data["op_unique_carrier"].astype('category')
data["op_unique_carrier"] = data["op_unique_carrier"].cat.codes

In [14]:
#looking for normalization in column arr_delay
from scipy.stats import shapiro
from scipy.stats import normaltest

_,n = normaltest(data['arr_delay'])
_,s = shapiro(data['arr_delay'])
print('Normal(p)=%.3f, shapire(p)=%.3f' % (n, s))

Normal(p)=0.000, shapire(p)=0.000

C:\Users\bd\anaconda3\lib\site-packages\scipy\stats\morestats.py:1681: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

#Normalizing data in arr_delay
from sklearn.preprocessing import StandardScaler
nor=data.copy()
nor['arr_delay']=(nor['arr_delay'] - nor['arr_delay'].mean())/nor['arr_delay'].std()
_,n = normaltest(nor['arr_delay'])
_,s = shapiro(nor['arr_delay'])
print('Normal(p)=%.3f, shapire(p)=%.3f' % (n, s))

#plotting
import matplotlib.pyplot as plt
nor.hist(column='arr_delay')

In [23]:
data.to_csv('flights_clean1.csv')

In [15]:
data.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,year,month,minutes,hours
0,2019-06-04,8,UA,UA,2094,21,N815UA,2094,12266,IAH,"Houston, TX",12953,LGA,"New York, NY",1630,1742.0,72.0,12.0,1754.0,2149.0,37.0,2102,2226.0,84.0,0,NaN,0,N,212,224.0,175.0,1,1416,9.0,0.0,12.0,0.0,63.0,NaN,NaN,NaN,NaN,2019,6,26.0,22
1,2019-10-14,3,DL,DL,2953,7,N811DZ,2953,12889,LAS,"Las Vegas, NV",14869,SLC,"Salt Lake City, UT",1407,1543.0,96.0,24.0,1607.0,1803.0,5.0,1630,1808.0,98.0,0,NaN,0,N,83,85.0,56.0,1,368,96.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,10,8.0,18
2,2019-04-26,2,B6,B6,952,4,N563JB,952,13204,MCO,"Orlando, FL",10721,BOS,"Boston, MA",1303,1419.0,76.0,13.0,1432.0,1705.0,10.0,1601,1715.0,74.0,0,NaN,0,N,178,176.0,153.0,1,1121,0.0,0.0,74.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,4,15.0,17
3,2018-07-23,8,UA_CODESHARE,UA,3433,25,N645RW,3433,11292,DEN,"Denver, CO",11109,COS,"Colorado Springs, CO",1400,1357.0,-3.0,10.0,1407.0,1426.0,6.0,1447,1432.0,-15.0,0,NaN,0,N,47,35.0,19.0,1,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,7,32.0,14
4,2019-09-25,0,AA_CODESHARE,AA,5206,17,N508AE,5206,11617,EWN,"New Bern/Morehead/Beaufort, NC",11057,CLT,"Charlotte, NC",911,905.0,-6.0,13.0,918.0,1004.0,10.0,1044,1014.0,-30.0,0,NaN,0,N,93,69.0,46.0,1,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,9,14.0,10

In [ ]:
'mkt_unique_carrier','op_unique_carrier','mkt_carrier_fl_num','origin_airport_id','dest_airport_id','dep_time','dep_delay','taxi_out','wheels_off','wheels_on','taxi_in','arr_time','arr_delay','actual_elapsed_time','air_time','distance','year','month','minutes','hours' #'tail_num'