In [ ]:
def cleaning(data):
    import pandas as pd
    import numpy as np
    
    data['arr_delay'].fillna(0)
    data['dep_delay'].fillna(0)
    
    #getting year and month from data['fl_date']
    data['year'], data['month'] = get_time(data['fl_date'])
    
    #crs_arr_time doesn't have missing values and arr_time has
    #we are going to inpute the same time that crs_arr_time in arr_time
    #for the missing values
    data['arr_time']=missing_values(data['arr_time'],data['crs_arr_time'])
    #crs_dep_time doesn't have missing values and dep_time has
    #we are going to inpute the same time that crs_dep_time in dep_time
    #for the missing values
    data['dep_time']=missing_values(data['dep_time'],data['crs_dep_time'])
    #crs_elapsed_time doesn't have missing values and actual_elapsed_time has
    #we are going to inpute the same time that crs_elapsed_time in actual_elapsed_time
    #for the missing values
    data['actual_elapsed_time']=missing_values(data['actual_elapsed_time'],data['crs_elapsed_time'])
    
    #getting hour and minutes from departure time
    data['hours'], data['minutes']=get_hour(data['dep_time'])
    
    #Droping some values
    data.dropna(subset = ["air_time",'arr_delay','dep_delay'], inplace=True)
    
    return data

In [1]:
import pandas as pd
import numpy as np
#importing data
df=pd.read_csv('C:/Users/bd/lighthouse-data-notes/Week_5/Day_5/flights.txt')
pd.set_option('display.max_columns',100)
data=df.copy()
data.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-06-04,UA,UA,UA,2094,UA,N815UA,2094,12266,IAH,"Houston, TX",12953,LGA,"New York, NY",1630,1742.0,72.0,12.0,1754.0,2149.0,37.0,2102,2226.0,84.0,0,NaN,0,N,212,224.0,175.0,1,1416,9.0,0.0,12.0,0.0,63.0,NaN,NaN,NaN,NaN
1,2019-10-14,DL,DL,DL,2953,DL,N811DZ,2953,12889,LAS,"Las Vegas, NV",14869,SLC,"Salt Lake City, UT",1407,1543.0,96.0,24.0,1607.0,1803.0,5.0,1630,1808.0,98.0,0,NaN,0,N,83,85.0,56.0,1,368,96.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN
2,2019-04-26,B6,B6,B6,952,B6,N563JB,952,13204,MCO,"Orlando, FL",10721,BOS,"Boston, MA",1303,1419.0,76.0,13.0,1432.0,1705.0,10.0,1601,1715.0,74.0,0,NaN,0,N,178,176.0,153.0,1,1121,0.0,0.0,74.0,0.0,0.0,NaN,NaN,NaN,NaN
3,2018-07-23,UA,UA_CODESHARE,UA,3433,YX,N645RW,3433,11292,DEN,"Denver, CO",11109,COS,"Colorado Springs, CO",1400,1357.0,-3.0,10.0,1407.0,1426.0,6.0,1447,1432.0,-15.0,0,NaN,0,N,47,35.0,19.0,1,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-25,AA,AA_CODESHARE,AA,5206,OH,N508AE,5206,11617,EWN,"New Bern/Morehead/Beaufort, NC",11057,CLT,"Charlotte, NC",911,905.0,-6.0,13.0,918.0,1004.0,10.0,1044,1014.0,-30.0,0,NaN,0,N,93,69.0,46.0,1,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
from definitions2 import get_time
from definitions2 import categorize
from definitions2 import get_hour

In [4]:
data['arr_delay'].fillna(0)
data['dep_delay'].fillna(0)
    
    #getting year and month from data['fl_date']
data['year'], data['month'] = get_time(data['fl_date'])
print(0)
    #crs_arr_time doesn't have missing values and arr_time has
    #we are going to inpute the same time that crs_arr_time in arr_time
    #for the missing values
data['arr_time'].fillna(data['crs_arr_time'], inplace=True)

    #crs_dep_time doesn't have missing values and dep_time has
    #we are going to inpute the same time that crs_dep_time in dep_time
    #for the missing values
data['dep_time'].fillna(data['crs_dep_time'],inplace=True)

    #crs_elapsed_time doesn't have missing values and actual_elapsed_time has
    #we are going to inpute the same time that crs_elapsed_time in actual_elapsed_time
    #for the missing values
data['actual_elapsed_time'].fillna(data['actual_elapsed_time'],inplace=True)

    #getting hour and minutes from departure time

data['hours'], data['minutes']=get_hour(data['dep_time'])
   
    #Droping some values

data.dropna(subset = ["air_time",'arr_delay','dep_delay'], inplace=True)

0

In [8]:
def weight(feature1,feature2,header)    :
    data=pd.DataFrame(np.array([feature1,feature2])
    #data[header[0]]=pd.DataFrame(feature1)
    #data[header[1]]=pd.DataFrame(feature2)
    group=data[[header[0],header[1]]].groupby(header[0]).mean().reset_index()
    
    group['perc']=group[header[1]]/group[header[1]].mean()*100
    weight=[]
    for i in data[header[0]]:
        if not group[group[header[0]]==i]['perc'].values>1:
            weight.append(group[group[header[0]]==i]['perc'].values[-1])
        else:
            weight.append(0)
    #data['perc']=weight
    return weight
data['w_delay_origin']=weight(data['origin_airport_id'],data['arr_delay'],['origin_airport_id','arr_delay'])

SyntaxError: invalid syntax (<ipython-input-8-4971b8186416>, line 4)

In [7]:
from definitions2 import categorize
from definitions2 import weight

#change to a category to convert to numbers
    #for mkt_unique_carrier
data["mkt_unique_carrier"]=categorize(data["mkt_unique_carrier"])
    
    #for op_unique_carrier
data["op_unique_carrier"]=categorize(data["op_unique_carrier"])
    
data['w_delay_origin']=weight(data['origin_airport_id'],data['arr_delay'],['origin_airport_id','arr_delay'])
data['w_delay_dest']=weight(data['dest_airport_id'],data['arr_delay'],['dest_airport_id','arr_delay'])
data['w_delay_distance']=weight(data['distance'],data['arr_delay'],['distance','arr_delay'])
data['w_delay_month']=weight(data['month'],data['arr_delay'],['month','arr_delay'])
data['w_delay_hour']=weight(data['hour'],data['arr_delay'],['hour','arr_delay'])

NameError: name 'data' is not defined

In [39]:
#importing data
passenger=pd.read_csv('C:/Users/bd/lighthouse-data-notes/Week_5/Day_5/mid-term-project-I/passengers.txt')
pd.set_option('display.max_columns',100)
passenger.head()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,0,1,1000,5,0,0,0,34,30,28,2O,20443,Island Air Service,D,2O,Island Air Service,1,5,12721,32721,KLN,"Larsen Bay, AK",US,United States,13863,33863,OLH,"Old Harbor, AK",US,United States,0,79,3,2019,3,1,L,DU
1,2,2,69806,338,327,96,0,2300,708,632,UA,19977,United Air Lines Inc.,D,UA,United Air Lines Inc.,3,3,10721,30721,BOS,"Boston, MA",US,United States,14107,30466,PHX,"Phoenix, AZ",US,United States,6,622,1,2015,1,5,F,DU
2,0,4,5400,30,7,0,16,148,205,181,8V,20333,Wright Air Service,D,8V,Wright Air Service,1,5,13016,33016,LMA,"Lake Minchumina, AK",US,United States,11630,31517,FAI,"Fairbanks, AK",US,United States,1,194,1,2015,8,1,F,DU
3,22,22,1137400,4114,2458,852,21195,1727,4970,4452,AA,19805,American Airlines Inc.,D,AA,American Airlines Inc.,3,3,14869,34614,SLC,"Salt Lake City, UT",US,United States,11057,31057,CLT,"Charlotte, NC",US,United States,6,699,1,2018,1,4,F,DU
4,12,12,358800,1320,1130,202,0,106,546,299,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,10397,30397,ATL,"Atlanta, GA",US,United States,10980,30980,CHA,"Chattanooga, TN",US,United States,6,608,1,2017,12,1,F,DU

In [ ]:
data['origin_airport_id'],passenger['passengers']