In [1]:
import pandas as pd
import numpy as np

In [54]:
#importing data
df=pd.read_csv('C:/Users/bd/lighthouse-data-notes/Week_5/Day_5/mid-term-project-I/flights_clean1.csv')
pd.set_option('display.max_columns',100)
df.head()

,Unnamed: 0,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,year,month,minutes,hours
0,0,2019-06-04,8,UA,UA,2094,21,N815UA,2094,12266,IAH,"Houston, TX",12953,LGA,"New York, NY",1630,1742.0,72.0,12.0,1754.0,2149.0,37.0,2102,2226.0,84.0,0,NaN,0,N,212,224.0,175.0,1,1416,9.0,0.0,12.0,0.0,63.0,NaN,NaN,NaN,NaN,2019,6,26.0,22
1,1,2019-10-14,3,DL,DL,2953,7,N811DZ,2953,12889,LAS,"Las Vegas, NV",14869,SLC,"Salt Lake City, UT",1407,1543.0,96.0,24.0,1607.0,1803.0,5.0,1630,1808.0,98.0,0,NaN,0,N,83,85.0,56.0,1,368,96.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,10,8.0,18
2,2,2019-04-26,2,B6,B6,952,4,N563JB,952,13204,MCO,"Orlando, FL",10721,BOS,"Boston, MA",1303,1419.0,76.0,13.0,1432.0,1705.0,10.0,1601,1715.0,74.0,0,NaN,0,N,178,176.0,153.0,1,1121,0.0,0.0,74.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,4,15.0,17
3,3,2018-07-23,8,UA_CODESHARE,UA,3433,25,N645RW,3433,11292,DEN,"Denver, CO",11109,COS,"Colorado Springs, CO",1400,1357.0,-3.0,10.0,1407.0,1426.0,6.0,1447,1432.0,-15.0,0,NaN,0,N,47,35.0,19.0,1,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,7,32.0,14
4,4,2019-09-25,0,AA_CODESHARE,AA,5206,17,N508AE,5206,11617,EWN,"New Bern/Morehead/Beaufort, NC",11057,CLT,"Charlotte, NC",911,905.0,-6.0,13.0,918.0,1004.0,10.0,1044,1014.0,-30.0,0,NaN,0,N,93,69.0,46.0,1,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,9,14.0,10

In [55]:
#Picking features for our model
data=df[['mkt_unique_carrier','op_unique_carrier','mkt_carrier_fl_num','origin_airport_id','dest_airport_id','dep_time','crs_dep_time','crs_arr_time','crs_elapsed_time','dep_delay','taxi_out','wheels_off','wheels_on','taxi_in','arr_time','actual_elapsed_time','air_time','distance','year','month','minutes','hours','arr_delay']]
data.head()

,mkt_unique_carrier,op_unique_carrier,mkt_carrier_fl_num,origin_airport_id,dest_airport_id,dep_time,crs_dep_time,crs_arr_time,crs_elapsed_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,arr_time,actual_elapsed_time,air_time,distance,year,month,minutes,hours,arr_delay
0,8,21,2094,12266,12953,1742.0,1630,2102,212,72.0,12.0,1754.0,2149.0,37.0,2226.0,224.0,175.0,1416,2019,6,26.0,22,84.0
1,3,7,2953,12889,14869,1543.0,1407,1630,83,96.0,24.0,1607.0,1803.0,5.0,1808.0,85.0,56.0,368,2019,10,8.0,18,98.0
2,2,4,952,13204,10721,1419.0,1303,1601,178,76.0,13.0,1432.0,1705.0,10.0,1715.0,176.0,153.0,1121,2019,4,15.0,17,74.0
3,8,25,3433,11292,11109,1357.0,1400,1447,47,-3.0,10.0,1407.0,1426.0,6.0,1432.0,35.0,19.0,73,2018,7,32.0,14,-15.0
4,0,17,5206,11617,11057,905.0,911,1044,93,-6.0,13.0,918.0,1004.0,10.0,1014.0,69.0,46.0,221,2019,9,14.0,10,-30.0

# Creating new features
## origin

In the following line we are going to see how much a delay is influenciated by the city of origin.

In [56]:
origin=pd.DataFrame(data[['origin_airport_id','arr_delay']].groupby('origin_airport_id').sum().reset_index())
origin.sort_values(by='arr_delay',ascending=False)

     origin_airport_id  arr_delay
221              13930     5248.0
101              11618     3792.0
81               11298     3278.0
80               11292     1808.0
277              14771     1789.0
..                 ...        ...
216              13830     -209.0
307              15376     -209.0
217              13851     -237.0
262              14635     -248.0
275              14747     -411.0

[317 rows x 2 columns]

In [104]:
#Calculating the probability of delay due to the origin
origin['proba_delay']=origin['arr_delay']/len(data)*100

With the previous information we can create weight for each origin to show how much contribute to a delay in a flight. 
In the next step we are going to create a list with all the weights for origin_airpot_id and we are going to add it to the data

In [105]:
weight=[]
for i in data['origin_airport_id']:
    weight.append(float(origin[origin['origin_airport_id']==i]['proba_delay']))

In [106]:
# add it to the data
data['proba_delay_origin']=weight

<ipython-input-106-22b88ee3f3a2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['proba_delay_origin']=weight

In [107]:
data.head()

,mkt_unique_carrier,op_unique_carrier,mkt_carrier_fl_num,origin_airport_id,dest_airport_id,dep_time,crs_dep_time,crs_arr_time,crs_elapsed_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,arr_time,actual_elapsed_time,air_time,distance,year,month,minutes,hours,arr_delay,proba_delay_origin,proba_delay_dest,proba_delay_distance,proba_delay_month
0,8,21,2094,12266,12953,1742.0,1630,2102,212,72.0,12.0,1754.0,2149.0,37.0,2226.0,224.0,175.0,1416,2019,6,26.0,22,84.0,17.353601,24.08,2.46,15.359396
1,3,7,2953,12889,14869,1543.0,1407,1630,83,96.0,24.0,1607.0,1803.0,5.0,1808.0,85.0,56.0,368,2019,10,8.0,18,98.0,3.417670,14.82,1.63,4.369252
2,2,4,952,13204,10721,1419.0,1303,1601,178,76.0,13.0,1432.0,1705.0,10.0,1715.0,176.0,153.0,1121,2019,4,15.0,17,74.0,13.997143,9.44,0.43,6.344592
3,8,25,3433,11292,11109,1357.0,1400,1447,47,-3.0,10.0,1407.0,1426.0,6.0,1432.0,35.0,19.0,73,2018,7,32.0,14,-15.0,18.445215,3.67,1.93,18.138892
4,0,17,5206,11617,11057,905.0,911,1044,93,-6.0,13.0,918.0,1004.0,10.0,1014.0,69.0,46.0,221,2019,9,14.0,10,-30.0,-0.214242,7.52,0.36,0.901068

## Destination

Now we are going to do the same with the destiny airport

In [61]:
destination=pd.DataFrame(data[['dest_airport_id','arr_delay']].groupby('dest_airport_id').sum().reset_index())
destination.sort_values(by='arr_delay',ascending=False)

     dest_airport_id  arr_delay
275            14747     3161.0
104            11618     3082.0
176            12953     2408.0
112            11697     2226.0
277            14771     1965.0
..               ...        ...
260            14576     -134.0
268            14696     -137.0
16             10299     -268.0
286            14893     -336.0
38             10693     -416.0

[318 rows x 2 columns]

In [108]:
#Calculating the probability of delay due to the destination
destination['proba_delay']=destination['arr_delay']/len(data)*100

In [109]:
#Now we are going to calculate the weight
weight=[]
for i in data['dest_airport_id']:
    weight.append(float(destination[destination['dest_airport_id']==i]['proba_delay']))

In [110]:
# add it to the data
data['proba_delay_dest']=weight

<ipython-input-110-af567f008889>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['proba_delay_dest']=weight

In [111]:
data.head()

,mkt_unique_carrier,op_unique_carrier,mkt_carrier_fl_num,origin_airport_id,dest_airport_id,dep_time,crs_dep_time,crs_arr_time,crs_elapsed_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,arr_time,actual_elapsed_time,air_time,distance,year,month,minutes,hours,arr_delay,proba_delay_origin,proba_delay_dest,proba_delay_distance,proba_delay_month
0,8,21,2094,12266,12953,1742.0,1630,2102,212,72.0,12.0,1754.0,2149.0,37.0,2226.0,224.0,175.0,1416,2019,6,26.0,22,84.0,17.353601,24.566415,2.46,15.359396
1,3,7,2953,12889,14869,1543.0,1407,1630,83,96.0,24.0,1607.0,1803.0,5.0,1808.0,85.0,56.0,368,2019,10,8.0,18,98.0,3.417670,15.119363,1.63,4.369252
2,2,4,952,13204,10721,1419.0,1303,1601,178,76.0,13.0,1432.0,1705.0,10.0,1715.0,176.0,153.0,1121,2019,4,15.0,17,74.0,13.997143,9.630688,0.43,6.344592
3,8,25,3433,11292,11109,1357.0,1400,1447,47,-3.0,10.0,1407.0,1426.0,6.0,1432.0,35.0,19.0,73,2018,7,32.0,14,-15.0,18.445215,3.744134,1.93,18.138892
4,0,17,5206,11617,11057,905.0,911,1044,93,-6.0,13.0,918.0,1004.0,10.0,1014.0,69.0,46.0,221,2019,9,14.0,10,-30.0,-0.214242,7.671904,0.36,0.901068

## Distance

We can do the same proccess using distance

In [82]:
distance=pd.DataFrame(data[['distance','arr_delay']].groupby('distance').sum().reset_index())
distance.sort_values(by='arr_delay',ascending=False)

      distance  arr_delay
173        284     1009.0
322        449      924.0
1071      1660      887.0
998       1448      882.0
818       1069      728.0
...        ...        ...
317        444     -194.0
1226      2454     -207.0
728        954     -230.0
660        862     -276.0
320        447     -303.0

[1281 rows x 2 columns]

In [112]:
#Calculating the probability of delay due to the distance
distance['proba_delay']=distance['arr_delay']/len(data)*100

#Now we are going to calculate the weight
weight=[]
for i in data['distance']:
    weight.append(float(distance[distance['distance']==i]['proba_delay']))

In [113]:
# add it to the data
data['proba_delay_distance']=weight

<ipython-input-113-d3e76dee3598>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['proba_delay_distance']=weight

In [114]:
data.head()

,mkt_unique_carrier,op_unique_carrier,mkt_carrier_fl_num,origin_airport_id,dest_airport_id,dep_time,crs_dep_time,crs_arr_time,crs_elapsed_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,arr_time,actual_elapsed_time,air_time,distance,year,month,minutes,hours,arr_delay,proba_delay_origin,proba_delay_dest,proba_delay_distance,proba_delay_month
0,8,21,2094,12266,12953,1742.0,1630,2102,212,72.0,12.0,1754.0,2149.0,37.0,2226.0,224.0,175.0,1416,2019,6,26.0,22,84.0,17.353601,24.566415,2.509692,15.359396
1,3,7,2953,12889,14869,1543.0,1407,1630,83,96.0,24.0,1607.0,1803.0,5.0,1808.0,85.0,56.0,368,2019,10,8.0,18,98.0,3.417670,15.119363,1.662926,4.369252
2,2,4,952,13204,10721,1419.0,1303,1601,178,76.0,13.0,1432.0,1705.0,10.0,1715.0,176.0,153.0,1121,2019,4,15.0,17,74.0,13.997143,9.630688,0.438686,6.344592
3,8,25,3433,11292,11109,1357.0,1400,1447,47,-3.0,10.0,1407.0,1426.0,6.0,1432.0,35.0,19.0,73,2018,7,32.0,14,-15.0,18.445215,3.744134,1.968986,18.138892
4,0,17,5206,11617,11057,905.0,911,1044,93,-6.0,13.0,918.0,1004.0,10.0,1014.0,69.0,46.0,221,2019,9,14.0,10,-30.0,-0.214242,7.671904,0.367272,0.901068

## Month

We can do the same proccess using month and hour

In [91]:
month=pd.DataFrame(data[['month','arr_delay']].groupby('month').sum().reset_index())
month.sort_values(by='arr_delay',ascending=False)

    month  arr_delay
6       7     8797.0
7       8     7886.0
5       6     7449.0
0       1     4877.0
1       2     3230.0
10     11     3166.0
3       4     3077.0
4       5     3041.0
11     12     2978.0
9      10     2119.0
2       3     1441.0
8       9      437.0

In [115]:
#Calculating the probability of delay due to the distance
month['proba_delay']=month['arr_delay']/len(data)*100

#Now we are going to calculate the weight
weight=[]
for i in data['month']:
    weight.append(float(month[month['month']==i]['proba_delay']))

In [116]:
# add it to the data
data['proba_delay_month']=weight
data.head()

<ipython-input-116-9f2207849a6f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['proba_delay_month']=weight

,mkt_unique_carrier,op_unique_carrier,mkt_carrier_fl_num,origin_airport_id,dest_airport_id,dep_time,crs_dep_time,crs_arr_time,crs_elapsed_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,arr_time,actual_elapsed_time,air_time,distance,year,month,minutes,hours,arr_delay,proba_delay_origin,proba_delay_dest,proba_delay_distance,proba_delay_month
0,8,21,2094,12266,12953,1742.0,1630,2102,212,72.0,12.0,1754.0,2149.0,37.0,2226.0,224.0,175.0,1416,2019,6,26.0,22,84.0,17.353601,24.566415,2.509692,75.994695
1,3,7,2953,12889,14869,1543.0,1407,1630,83,96.0,24.0,1607.0,1803.0,5.0,1808.0,85.0,56.0,368,2019,10,8.0,18,98.0,3.417670,15.119363,1.662926,21.618037
2,2,4,952,13204,10721,1419.0,1303,1601,178,76.0,13.0,1432.0,1705.0,10.0,1715.0,176.0,153.0,1121,2019,4,15.0,17,74.0,13.997143,9.630688,0.438686,31.391553
3,8,25,3433,11292,11109,1357.0,1400,1447,47,-3.0,10.0,1407.0,1426.0,6.0,1432.0,35.0,19.0,73,2018,7,32.0,14,-15.0,18.445215,3.744134,1.968986,89.746990
4,0,17,5206,11617,11057,905.0,911,1044,93,-6.0,13.0,918.0,1004.0,10.0,1014.0,69.0,46.0,221,2019,9,14.0,10,-30.0,-0.214242,7.671904,0.367272,4.458274

## Hour

In [89]:
hour=pd.DataFrame(data[['hours','arr_delay']].groupby('hours').sum().reset_index())
hour.sort_values(by='arr_delay',ascending=False)

    hours  arr_delay
22     22     7915.0
21     21     6960.0
0       0     6805.0
1       1     6760.0
23     23     6001.0
20     20     5486.0
18     18     3972.0
19     19     3884.0
17     17     3212.0
16     16     2599.0
15     15     2005.0
2       2     1665.0
3       3     1088.0
14     14      589.0
13     13      449.0
5       5      325.0
24     24       14.0
12     12      -66.0
4       4     -492.0
11     11    -1009.0
9       9    -1327.0
10     10    -1608.0
6       6    -2021.0
7       7    -2290.0
8       8    -2418.0

In [117]:
#Calculating the probability of delay due to the distance
hour['proba_delay']=hour['arr_delay']/len(data)*100

#Now we are going to calculate the weight
weight=[]
for i in data['hours']:
    weight.append(float(hour[hour['hours']==i]['proba_delay']))

In [119]:
# add it to the data
data['weight_delay_hour']=weight
data.head()

<ipython-input-119-1e7305a370f1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['weight_delay_hour']=weight

,mkt_unique_carrier,op_unique_carrier,mkt_carrier_fl_num,origin_airport_id,dest_airport_id,dep_time,crs_dep_time,crs_arr_time,crs_elapsed_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,arr_time,actual_elapsed_time,air_time,distance,year,month,minutes,hours,arr_delay,proba_delay_origin,proba_delay_dest,proba_delay_distance,proba_delay_month,proba_delay_hour,weight_delay_hour
0,8,21,2094,12266,12953,1742.0,1630,2102,212,72.0,12.0,1754.0,2149.0,37.0,2226.0,224.0,175.0,1416,2019,6,26.0,22,84.0,17.353601,24.566415,2.509692,75.994695,80.748827,80.748827
1,3,7,2953,12889,14869,1543.0,1407,1630,83,96.0,24.0,1607.0,1803.0,5.0,1808.0,85.0,56.0,368,2019,10,8.0,18,98.0,3.417670,15.119363,1.662926,21.618037,40.522342,40.522342
2,2,4,952,13204,10721,1419.0,1303,1601,178,76.0,13.0,1432.0,1705.0,10.0,1715.0,176.0,153.0,1121,2019,4,15.0,17,74.0,13.997143,9.630688,0.438686,31.391553,32.768823,32.768823
3,8,25,3433,11292,11109,1357.0,1400,1447,47,-3.0,10.0,1407.0,1426.0,6.0,1432.0,35.0,19.0,73,2018,7,32.0,14,-15.0,18.445215,3.744134,1.968986,89.746990,6.008978,6.008978
4,0,17,5206,11617,11057,905.0,911,1044,93,-6.0,13.0,918.0,1004.0,10.0,1014.0,69.0,46.0,221,2019,9,14.0,10,-30.0,-0.214242,7.671904,0.367272,4.458274,-16.404815,-16.404815

In [120]:
data.to_csv('fligths_newva.csv')