In [1]:
import pandas as pd
import numpy as np

In [2]:
#importing data
df=pd.read_csv('C:/Users/bd/lighthouse-data-notes/Week_5/Day_5/mid-term-project-I/passengers.txt')
pd.set_option('display.max_columns',100)
df.head()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,0,1,1000,5,0,0,0,34,30,28,2O,20443,Island Air Service,D,2O,Island Air Service,1,5,12721,32721,KLN,"Larsen Bay, AK",US,United States,13863,33863,OLH,"Old Harbor, AK",US,United States,0,79,3,2019,3,1,L,DU
1,2,2,69806,338,327,96,0,2300,708,632,UA,19977,United Air Lines Inc.,D,UA,United Air Lines Inc.,3,3,10721,30721,BOS,"Boston, MA",US,United States,14107,30466,PHX,"Phoenix, AZ",US,United States,6,622,1,2015,1,5,F,DU
2,0,4,5400,30,7,0,16,148,205,181,8V,20333,Wright Air Service,D,8V,Wright Air Service,1,5,13016,33016,LMA,"Lake Minchumina, AK",US,United States,11630,31517,FAI,"Fairbanks, AK",US,United States,1,194,1,2015,8,1,F,DU
3,22,22,1137400,4114,2458,852,21195,1727,4970,4452,AA,19805,American Airlines Inc.,D,AA,American Airlines Inc.,3,3,14869,34614,SLC,"Salt Lake City, UT",US,United States,11057,31057,CLT,"Charlotte, NC",US,United States,6,699,1,2018,1,4,F,DU
4,12,12,358800,1320,1130,202,0,106,546,299,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,10397,30397,ATL,"Atlanta, GA",US,United States,10980,30980,CHA,"Chattanooga, TN",US,United States,6,608,1,2017,12,1,F,DU

In [3]:
df.isnull().sum()

departures_scheduled     0
departures_performed     0
payload                  0
seats                    0
passengers               0
freight                  0
mail                     0
distance                 0
ramp_to_ramp             0
air_time                 0
unique_carrier           0
airline_id               0
unique_carrier_name      0
region                   0
carrier                  0
carrier_name             0
carrier_group            0
carrier_group_new        0
origin_airport_id        0
origin_city_market_id    0
origin                   0
origin_city_name         0
origin_country           0
origin_country_name      0
dest_airport_id          0
dest_city_market_id      0
dest                     0
dest_city_name           0
dest_country             0
dest_country_name        0
aircraft_group           0
aircraft_type            0
aircraft_config          0
year                     0
month                    0
distance_group           0
class                    0
data_source              0
dtype: int64

In [4]:
data=df.copy()

# Passanger per month

In [5]:
passenger=data[['month','passengers']].groupby('month').sum().reset_index()
passenger.sort_values('passengers', ascending=False)

    month  passengers
4       5     2108623
7       8     2007031
2       3     1985697
11     12     1936438
5       6     1930446
6       7     1929091
10     11     1786609
8       9     1652517
0       1     1602445
9      10     1584665
1       2     1582121
3       4     1522062

In [6]:
#Calculating the percentage of passengers per month
passenger['perc_passenger']=passenger['passengers']/passenger['passengers'].sum()*100
weight=[]
for i in data['month']:
    weight.append(float(passenger[passenger['month']==i]['perc_passenger']))

In [7]:
# add it to the data
data['perc_passenger']=weight

In [8]:
data.head()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source,perc_passenger
0,0,1,1000,5,0,0,0,34,30,28,2O,20443,Island Air Service,D,2O,Island Air Service,1,5,12721,32721,KLN,"Larsen Bay, AK",US,United States,13863,33863,OLH,"Old Harbor, AK",US,United States,0,79,3,2019,3,1,L,DU,9.181248
1,2,2,69806,338,327,96,0,2300,708,632,UA,19977,United Air Lines Inc.,D,UA,United Air Lines Inc.,3,3,10721,30721,BOS,"Boston, MA",US,United States,14107,30466,PHX,"Phoenix, AZ",US,United States,6,622,1,2015,1,5,F,DU,7.409210
2,0,4,5400,30,7,0,16,148,205,181,8V,20333,Wright Air Service,D,8V,Wright Air Service,1,5,13016,33016,LMA,"Lake Minchumina, AK",US,United States,11630,31517,FAI,"Fairbanks, AK",US,United States,1,194,1,2015,8,1,F,DU,9.279890
3,22,22,1137400,4114,2458,852,21195,1727,4970,4452,AA,19805,American Airlines Inc.,D,AA,American Airlines Inc.,3,3,14869,34614,SLC,"Salt Lake City, UT",US,United States,11057,31057,CLT,"Charlotte, NC",US,United States,6,699,1,2018,1,4,F,DU,7.409210
4,12,12,358800,1320,1130,202,0,106,546,299,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,10397,30397,ATL,"Atlanta, GA",US,United States,10980,30980,CHA,"Chattanooga, TN",US,United States,6,608,1,2017,12,1,F,DU,8.953490

# Passenger per carrier

In [9]:
carrier=data[['unique_carrier','passengers']].groupby('unique_carrier').sum().reset_index()
carrier.sort_values('passengers', ascending=False)

    unique_carrier  passengers
247             WN     3560977
68              AA     3262346
109             DL     3153766
230             UA     2058785
88              B6      857494
..             ...         ...
199             PO           0
201            PRQ           0
209             QT           0
212             RU           0
197            PFQ           0

[264 rows x 2 columns]

In [10]:
#Calculating the percentage of passengers per carrier
carrier['perc_passenger_carrier']=carrier['passengers']/carrier['passengers'].sum()*100
weight=[]
for i in data['unique_carrier']:
    weight.append(float(carrier[carrier['unique_carrier']==i]['perc_passenger_carrier']))

In [11]:
# add it to the data
data['perc_passenger_carrier']=weight

In [12]:
data.head()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source,perc_passenger,perc_passenger_carrier
0,0,1,1000,5,0,0,0,34,30,28,2O,20443,Island Air Service,D,2O,Island Air Service,1,5,12721,32721,KLN,"Larsen Bay, AK",US,United States,13863,33863,OLH,"Old Harbor, AK",US,United States,0,79,3,2019,3,1,L,DU,9.181248,0.001651
1,2,2,69806,338,327,96,0,2300,708,632,UA,19977,United Air Lines Inc.,D,UA,United Air Lines Inc.,3,3,10721,30721,BOS,"Boston, MA",US,United States,14107,30466,PHX,"Phoenix, AZ",US,United States,6,622,1,2015,1,5,F,DU,7.409210,9.519185
2,0,4,5400,30,7,0,16,148,205,181,8V,20333,Wright Air Service,D,8V,Wright Air Service,1,5,13016,33016,LMA,"Lake Minchumina, AK",US,United States,11630,31517,FAI,"Fairbanks, AK",US,United States,1,194,1,2015,8,1,F,DU,9.279890,0.007005
3,22,22,1137400,4114,2458,852,21195,1727,4970,4452,AA,19805,American Airlines Inc.,D,AA,American Airlines Inc.,3,3,14869,34614,SLC,"Salt Lake City, UT",US,United States,11057,31057,CLT,"Charlotte, NC",US,United States,6,699,1,2018,1,4,F,DU,7.409210,15.084078
4,12,12,358800,1320,1130,202,0,106,546,299,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,10397,30397,ATL,"Atlanta, GA",US,United States,10980,30980,CHA,"Chattanooga, TN",US,United States,6,608,1,2017,12,1,F,DU,8.953490,14.582038

# Total gallon
Now we are going to add perc_total_gallon from table fuel to passenger and then add it to flights

In [13]:
total=pd.read_csv('total_gallon.csv')

In [14]:
total.head()

   Unnamed: 0  perc_total_gallon unique_carrier
0           0           1.015807             PO
1           1           0.000000             9E
2           2           0.091413             KD
3           3           0.000000             CP
4           4           4.370951             B6

In [15]:
weight=[]
for i in data['unique_carrier']:
    if len(total[total['unique_carrier']==i]['perc_total_gallon'].values)>1:
        weight.append(total[total['unique_carrier']==i]['perc_total_gallon'].values[-1])
    #print(total[total['unique_carrier']==i]['perc_total_gallon'].values)
    #weight.append(float(total[total['unique_carrier']==i]['perc_total_gallon']))

In [16]:
weight

[18.5149347733653,
 19.30160009907984,
 19.20339607018974,
 18.5149347733653,
 19.30160009907984,
 11.13784713854975,
 0.047612227648380204,
 0.0031075881091631482,
 18.5149347733653,
 11.13784713854975,
 18.5149347733653,
 3.107834629466669,
 19.20339607018974,
 0.4428943944294862,
 0.9859861302805104,
 11.13784713854975,
 1.929949891034684,
 6.340698915960192,
 11.13784713854975,
 0.6611708316992709,
 18.5149347733653,
 4.504296698688423,
 0.0,
 0.0031075881091631482,
 0.0,
 18.5149347733653,
 1.408102198197954,
 0.0,
 4.504296698688423,
 11.13784713854975,
 0.4428943944294862,
 4.37095149124681,
 18.5149347733653,
 11.13784713854975,
 4.504296698688423,
 19.30160009907984,
 0.4428943944294862,
 4.37095149124681,
 11.13784713854975,
 4.37095149124681,
 11.13784713854975,
 18.5149347733653,
 0.02539340946599728,
 19.20339607018974,
 19.20339607018974,
 1.929949891034684,
 19.20339607018974,
 11.13784713854975,
 0.3331227001494248,
 4.37095149124681,
 11.13784713854975,
 1.929949891034684,
 19.20339607018974,
 11.13784713854975,
 0.4428943944294862,
 4.504296698688423,
 0.0,
 0.0,
 11.13784713854975,
 11.13784713854975,
 4.504296698688423,
 0.4428943944294862,
 0.4428943944294862,
 4.504296698688423,
 1.929949891034684,
 0.9859861302805104,
 0.31929712431812274,
 4.37095149124681,
 0.02206128773901813,
 1.929949891034684,
 18.5149347733653,
 0.0,
 3.107834629466669,
 18.5149347733653,
 0.4428943944294862,
 1.3056887255631182,
 0.3331227001494248,
 1.929949891034684,
 11.13784713854975,
 0.4428943944294862,
 0.3331227001494248,
 11.13784713854975,
 0.0031075881091631482,
 19.20339607018974,
 0.0,
 0.9859861302805104,
 0.0,
 6.340698915960192,
 0.0,
 19.20339607018974,
 0.3331227001494248,
 19.20339607018974,
 0.3331227001494248,
 0.12979699450143894,
 18.5149347733653,
 4.504296698688423,
 19.30160009907984,
 0.4428943944294862,
 19.20339607018974,
 11.13784713854975,
 1.929949891034684,
 19.20339607018974,
 0.9859861302805104,
 0.4428943944294862,
 0.0,
 19.20339607018974,
 18.5149347733653,
 18.5149347733653,
 0.3331227001494248,
 0.0,
 0.4428943944294862,
 0.0,
 0.3331227001494248,
 19.20339607018974,
 0.0,
 11.13784713854975,
 0.3331227001494248,
 0.3331227001494248,
 0.4428943944294862,
 3.107834629466669,
 11.13784713854975,
 0.3331227001494248,
 0.9859861302805104,
 11.13784713854975,
 0.3331227001494248,
 3.107834629466669,
 19.30160009907984,
 0.0,
 4.504296698688423,
 11.13784713854975,
 6.340698915960192,
 19.20339607018974,
 11.13784713854975,
 6.340698915960192,
 0.9859861302805104,
 19.20339607018974,
 19.30160009907984,
 0.12879306890298714,
 19.20339607018974,
 0.9859861302805104,
 11.13784713854975,
 1.929949891034684,
 4.504296698688423,
 18.5149347733653,
 0.03724365058570756,
 19.20339607018974,
 0.0031075881091631482,
 3.107834629466669,
 0.0031075881091631482,
 0.15163308956741495,
 0.0,
 19.20339607018974,
 4.504296698688423,
 11.13784713854975,
 0.0,
 2.4980417439852016,
 0.4428943944294862,
 19.20339607018974,
 6.340698915960192,
 0.0,
 18.5149347733653,
 1.3056887255631182,
 18.5149347733653,
 0.0,
 19.20339607018974,
 1.408102198197954,
 18.5149347733653,
 18.5149347733653,
 0.0,
 19.30160009907984,
 19.20339607018974,
 18.5149347733653,
 0.0,
 0.0,
 0.047612227648380204,
 1.3056887255631182,
 0.20523404066605191,
 4.504296698688423,
 19.20339607018974,
 0.0,
 19.20339607018974,
 0.4428943944294862,
 0.0,
 6.340698915960192,
 19.30160009907984,
 11.13784713854975,
 11.13784713854975,
 0.05137570450178902,
 1.929949891034684,
 11.13784713854975,
 1.929949891034684,
 4.37095149124681,
 0.4428943944294862,
 19.20339607018974,
 18.5149347733653,
 1.929949891034684,
 19.20339607018974,
 4.504296698688423,
 3.107834629466669,
 0.0,
 19.20339607018974,
 19.30160009907984,
 0.0,
 19.20339607018974,
 18.5149347733653,
 18.5149347733653,
 1.3056887255631182,
 1.3056887255631182,
 0.9859861302805104,
 11.13784713854975,
 0.0,
 11.13784713854975,
 18.5149347733653,
 19.30160009907984,
 0.0,
 19.20339607018974,
 0.9859861302805104,
 19.20339607018974,
 11.13784713854975,
 19.20339607018974,
 19.30160009907984,
 6.340698915960192,
 0.4428943944294862,
 19.30160009907984,
 0.9859861302805104,
 1.3056887255631182,
 11.13784713854975,
 0.3331227001494248,
 0.0031075881091631482,
 0.02116153115647573,
 0.0031075881091631482,
 0.0,
 19.20339607018974,
 19.30160009907984,
 18.5149347733653,
 11.13784713854975,
 3.107834629466669,
 19.20339607018974,
 0.0,
 1.929949891034684,
 11.13784713854975,
 18.5149347733653,
 0.0,
 11.13784713854975,
 0.03724365058570756,
 6.340698915960192,
 18.5149347733653,
 1.929949891034684,
 19.30160009907984,
 4.504296698688423,
 4.37095149124681,
 11.13784713854975,
 0.4428943944294862,
 0.0,
 4.504296698688423,
 0.15163308956741495,
 11.13784713854975,
 0.3331227001494248,
 11.13784713854975,
 0.4428943944294862,
 1.408102198197954,
 2.4980417439852016,
 18.5149347733653,
 0.9859861302805104,
 19.20339607018974,
 6.340698915960192,
 0.0,
 19.20339607018974,
 6.340698915960192,
 0.0031075881091631482,
 0.0031075881091631482,
 3.107834629466669,
 18.5149347733653,
 1.01580708087783,
 0.09141337794758242,
 1.3056887255631182,
 0.0037749488235158256,
 19.20339607018974,
 0.9859861302805104,
 19.20339607018974,
 0.4428943944294862,
 0.3331227001494248,
 0.04712211333936847,
 0.0,
 0.0,
 19.30160009907984,
 0.4428943944294862,
 4.37095149124681,
 19.30160009907984,
 1.929949891034684,
 19.20339607018974,
 19.30160009907984,
 19.20339607018974,
 19.30160009907984,
 0.01038076146219663,
 11.13784713854975,
 4.504296698688423,
 4.37095149124681,
 0.0031075881091631482,
 0.31929712431812274,
 0.4428943944294862,
 0.3331227001494248,
 4.37095149124681,
 19.20339607018974,
 18.5149347733653,
 0.02206128773901813,
 11.13784713854975,
 0.0,
 19.30160009907984,
 18.5149347733653,
 6.340698915960192,
 6.340698915960192,
 18.5149347733653,
 1.3056887255631182,
 0.047612227648380204,
 0.6582115298556794,
 6.340698915960192,
 0.3331227001494248,
 0.0031075881091631482,
 0.0,
 18.5149347733653,
 4.37095149124681,
 0.03068528296145737,
 19.30160009907984,
 0.0,
 6.340698915960192,
 0.30592217053583826,
 0.0031075881091631482,
 0.9859861302805104,
 3.107834629466669,
 18.5149347733653,
 19.20339607018974,
 1.3056887255631182,
 19.20339607018974,
 0.30592217053583826,
 11.13784713854975,
 0.0,
 0.4428943944294862,
 19.20339607018974,
 19.20339607018974,
 19.30160009907984,
 19.30160009907984,
 18.5149347733653,
 1.3056887255631182,
 19.30160009907984,
 19.20339607018974,
 0.42202762224197293,
 19.30160009907984,
 0.0031075881091631482,
 6.340698915960192,
 19.20339607018974,
 3.107834629466669,
 6.340698915960192,
 4.37095149124681,
 0.0,
 19.20339607018974,
 1.929949891034684,
 3.107834629466669,
 0.09141337794758242,
 1.3056887255631182,
 0.4428943944294862,
 0.0,
 0.15163308956741495,
 18.5149347733653,
 19.30160009907984,
 6.340698915960192,
 6.340698915960192,
 19.30160009907984,
 4.37095149124681,
 11.13784713854975,
 18.5149347733653,
 0.3331227001494248,
 0.4428943944294862,
 6.340698915960192,
 1.3056887255631182,
 0.0,
 0.0,
 11.13784713854975,
 3.107834629466669,
 6.340698915960192,
 19.20339607018974,
 0.0,
 18.5149347733653,
 19.20339607018974,
 0.0031075881091631482,
 4.37095149124681,
 0.007388708750976723,
 19.20339607018974,
 1.3056887255631182,
 0.4428943944294862,
 11.13784713854975,
 0.0,
 1.929949891034684,
 19.30160009907984,
 3.107834629466669,
 3.107834629466669,
 6.340698915960192,
 0.0,
 4.504296698688423,
 4.504296698688423,
 4.504296698688423,
 0.047612227648380204,
 11.13784713854975,
 18.5149347733653,
 0.047612227648380204,
 0.4428943944294862,
 0.15163308956741495,
 0.9859861302805104,
 0.12979699450143894,
 19.30160009907984,
 0.013604611322421963,
 11.13784713854975,
 0.0,
 11.13784713854975,
 18.5149347733653,
 19.20339607018974,
 0.0,
 3.107834629466669,
 19.20339607018974,
 0.0,
 18.5149347733653,
 6.340698915960192,
 19.20339607018974,
 19.30160009907984,
 2.4980417439852016,
 19.20339607018974,
 1.3056887255631182,
 0.0,
 19.30160009907984,
 0.9859861302805104,
 0.3331227001494248,
 0.0031075881091631482,
 0.0,
 4.504296698688423,
 19.20339607018974,
 0.30592217053583826,
 2.4980417439852016,
 0.0,
 0.0,
 19.20339607018974,
 1.929949891034684,
 0.03068528296145737,
 0.3331227001494248,
 19.20339607018974,
 19.20339607018974,
 18.5149347733653,
 3.107834629466669,
 4.504296698688423,
 19.20339607018974,
 0.01038076146219663,
 0.0,
 0.0031075881091631482,
 19.20339607018974,
 2.4980417439852016,
 0.0,
 0.9859861302805104,
 19.30160009907984,
 18.5149347733653,
 19.20339607018974,
 0.0,
 0.3331227001494248,
 19.30160009907984,
 18.5149347733653,
 18.5149347733653,
 1.929949891034684,
 11.13784713854975,
 18.5149347733653,
 0.9859861302805104,
 0.9859861302805104,
 3.107834629466669,
 19.30160009907984,
 11.13784713854975,
 11.13784713854975,
 19.30160009907984,
 11.13784713854975,
 19.30160009907984,
 19.30160009907984,
 0.03068528296145737,
 18.5149347733653,
 0.3331227001494248,
 19.20339607018974,
 0.15163308956741495,
 0.0031075881091631482,
 11.13784713854975,
 0.3331227001494248,
 11.13784713854975,
 0.0031075881091631482,
 19.30160009907984,
 19.20339607018974,
 19.30160009907984,
 19.20339607018974,
 11.13784713854975,
 6.340698915960192,
 0.0031075881091631482,
 6.340698915960192,
 19.30160009907984,
 0.04712211333936847,
 6.340698915960192,
 0.02539340946599728,
 0.0,
 0.0,
 4.504296698688423,
 1.3056887255631182,
 19.20339607018974,
 11.13784713854975,
 4.37095149124681,
 6.340698915960192,
 4.504296698688423,
 0.4428943944294862,
 0.0,
 0.0,
 0.0031075881091631482,
 19.20339607018974,
 1.408102198197954,
 0.30592217053583826,
 1.3056887255631182,
 0.0,
 4.37095149124681,
 0.3331227001494248,
 19.20339607018974,
 0.01458790199456826,
 1.3056887255631182,
 0.4428943944294862,
 0.03068528296145737,
 19.20339607018974,
 19.20339607018974,
 4.37095149124681,
 1.929949891034684,
 0.0,
 19.20339607018974,
 18.5149347733653,
 4.37095149124681,
 18.5149347733653,
 19.30160009907984,
 11.13784713854975,
 18.5149347733653,
 6.340698915960192,
 0.0,
 0.0,
 0.4428943944294862,
 6.340698915960192,
 18.5149347733653,
 0.9859861302805104,
 3.107834629466669,
 19.20339607018974,
 3.107834629466669,
 0.9859861302805104,
 11.13784713854975,
 11.13784713854975,
 19.20339607018974,
 0.4428943944294862,
 6.340698915960192,
 6.340698915960192,
 11.13784713854975,
 0.15163308956741495,
 0.0,
 19.20339607018974,
 0.9859861302805104,
 11.13784713854975,
 0.0,
 6.340698915960192,
 0.0,
 4.37095149124681,
 18.5149347733653,
 0.03724365058570756,
 19.20339607018974,
 1.929949891034684,
 19.30160009907984,
 0.4428943944294862,
 1.3056887255631182,
 11.13784713854975,
 6.340698915960192,
 19.20339607018974,
 0.3331227001494248,
 0.0,
 19.30160009907984,
 0.4428943944294862,
 0.9859861302805104,
 0.02206128773901813,
 0.15163308956741495,
 4.504296698688423,
 18.5149347733653,
 6.340698915960192,
 0.0031075881091631482,
 0.0031075881091631482,
 6.340698915960192,
 11.13784713854975,
 19.30160009907984,
 0.0037749488235158256,
 6.340698915960192,
 0.0,
 6.340698915960192,
 6.340698915960192,
 0.4428943944294862,
 19.30160009907984,
 0.4428943944294862,
 18.5149347733653,
 19.20339607018974,
 11.13784713854975,
 6.340698915960192,
 0.0,
 0.007388708750976723,
 19.30160009907984,
 19.20339607018974,
 11.13784713854975,
 18.5149347733653,
 11.13784713854975,
 19.20339607018974,
 19.20339607018974,
 0.0,
 19.30160009907984,
 0.3331227001494248,
 0.0,
 6.340698915960192,
 0.047612227648380204,
 2.4980417439852016,
 0.30592217053583826,
 19.30160009907984,
 0.0,
 4.504296698688423,
 19.30160009907984,
 18.5149347733653,
 6.340698915960192,
 18.5149347733653,
 0.007388708750976723,
 18.5149347733653,
 11.13784713854975,
 0.3331227001494248,
 0.0,
 11.13784713854975,
 0.02539340946599728,
 4.37095149124681,
 0.4428943944294862,
 18.5149347733653,
 19.20339607018974,
 3.107834629466669,
 0.4428943944294862,
 1.3056887255631182,
 0.4428943944294862,
 11.13784713854975,
 19.30160009907984,
 11.13784713854975,
 0.0,
 0.0031075881091631482,
 0.013604611322421963,
 0.4428943944294862,
 0.9859861302805104,
 18.5149347733653,
 0.9859861302805104,
 11.13784713854975,
 0.04712211333936847,
 19.20339607018974,
 3.107834629466669,
 0.0,
 0.3331227001494248,
 3.107834629466669,
 0.9859861302805104,
 19.30160009907984,
 0.3331227001494248,
 0.4428943944294862,
 1.929949891034684,
 0.0031075881091631482,
 11.13784713854975,
 18.5149347733653,
 19.30160009907984,
 0.3331227001494248,
 4.504296698688423,
 0.4428943944294862,
 18.5149347733653,
 18.5149347733653,
 19.30160009907984,
 0.3331227001494248,
 0.4428943944294862,
 0.0,
 0.3331227001494248,
 4.504296698688423,
 11.13784713854975,
 2.4980417439852016,
 19.20339607018974,
 6.340698915960192,
 18.5149347733653,
 3.107834629466669,
 0.0,
 3.107834629466669,
 0.0,
 19.20339607018974,
 4.37095149124681,
 19.20339607018974,
 4.504296698688423,
 18.5149347733653,
 0.4428943944294862,
 18.5149347733653,
 1.01580708087783,
 3.107834629466669,
 11.13784713854975,
 18.5149347733653,
 18.5149347733653,
 0.4428943944294862,
 1.3056887255631182,
 11.13784713854975,
 0.3331227001494248,
 11.13784713854975,
 19.20339607018974,
 0.0031075881091631482,
 0.0,
 19.30160009907984,
 19.20339607018974,
 11.13784713854975,
 19.30160009907984,
 18.5149347733653,
 0.3331227001494248,
 1.929949891034684,
 18.5149347733653,
 11.13784713854975,
 0.0,
 0.9859861302805104,
 19.30160009907984,
 0.0,
 4.504296698688423,
 18.5149347733653,
 19.30160009907984,
 0.0,
 11.13784713854975,
 18.5149347733653,
 19.30160009907984,
 0.0,
 19.30160009907984,
 19.30160009907984,
 18.5149347733653,
 19.20339607018974,
 0.02206128773901813,
 0.0031075881091631482,
 19.20339607018974,
 2.4980417439852016,
 6.340698915960192,
 0.31929712431812274,
 0.6582115298556794,
 18.5149347733653,
 19.20339607018974,
 11.13784713854975,
 0.12979699450143894,
 1.929949891034684,
 4.37095149124681,
 11.13784713854975,
 1.929949891034684,
 11.13784713854975,
 11.13784713854975,
 0.03257984511766745,
 19.20339607018974,
 19.20339607018974,
 18.5149347733653,
 18.5149347733653,
 11.13784713854975,
 19.20339607018974,
 0.9859861302805104,
 0.3331227001494248,
 11.13784713854975,
 4.504296698688423,
 0.3331227001494248,
 0.4428943944294862,
 18.5149347733653,
 0.0,
 11.13784713854975,
 0.4428943944294862,
 18.5149347733653,
 0.047612227648380204,
 19.20339607018974,
 0.0031075881091631482,
 0.0031075881091631482,
 0.0,
 11.13784713854975,
 0.4428943944294862,
 11.13784713854975,
 0.007388708750976723,
 0.0,
 6.340698915960192,
 1.3056887255631182,
 0.0,
 0.0031075881091631482,
 19.30160009907984,
 0.4428943944294862,
 1.408102198197954,
 0.0,
 19.30160009907984,
 18.5149347733653,
 19.20339607018974,
 19.20339607018974,
 0.30592217053583826,
 1.3056887255631182,
 1.3056887255631182,
 19.20339607018974,
 18.5149347733653,
 0.4428943944294862,
 0.0,
 0.0,
 0.0,
 0.30592217053583826,
 0.9859861302805104,
 0.0,
 19.20339607018974,
 19.20339607018974,
 19.20339607018974,
 0.3331227001494248,
 0.3331227001494248,
 19.20339607018974,
 0.4428943944294862,
 18.5149347733653,
 0.0,
 0.6582115298556794,
 0.0,
 1.929949891034684,
 0.4428943944294862,
 4.37095149124681,
 4.504296698688423,
 0.0,
 0.4428943944294862,
 4.504296698688423,
 11.13784713854975,
 0.0,
 19.30160009907984,
 0.0031075881091631482,
 19.20339607018974,
 1.3056887255631182,
 0.047612227648380204,
 19.30160009907984,
 2.4980417439852016,
 18.5149347733653,
 19.20339607018974,
 18.5149347733653,
 11.13784713854975,
 0.047612227648380204,
 6.340698915960192,
 0.3331227001494248,
 11.13784713854975,
 0.0,
 0.0,
 0.0,
 19.20339607018974,
 18.5149347733653,
 18.5149347733653,
 0.9859861302805104,
 0.0,
 4.37095149124681,
 0.0,
 19.30160009907984,
 1.3056887255631182,
 3.107834629466669,
 0.15163308956741495,
 2.4980417439852016,
 18.5149347733653,
 0.0,
 19.20339607018974,
 19.30160009907984,
 0.4428943944294862,
 18.5149347733653,
 0.0,
 0.9859861302805104,
 6.340698915960192,
 18.5149347733653,
 19.20339607018974,
 0.03724365058570756,
 19.20339607018974,
 0.30592217053583826,
 19.30160009907984,
 0.0,
 19.30160009907984,
 11.13784713854975,
 11.13784713854975,
 0.12979699450143894,
 11.13784713854975,
 0.0,
 11.13784713854975,
 0.007388708750976723,
 18.5149347733653,
 18.5149347733653,
 1.01580708087783,
 19.20339607018974,
 18.5149347733653,
 19.20339607018974,
 19.30160009907984,
 6.340698915960192,
 0.0,
 0.0031075881091631482,
 0.0,
 6.340698915960192,
 6.340698915960192,
 0.3331227001494248,
 0.12979699450143894,
 18.5149347733653,
 19.30160009907984,
 6.340698915960192,
 0.30592217053583826,
 11.13784713854975,
 0.0,
 0.0,
 0.047612227648380204,
 11.13784713854975,
 0.42202762224197293,
 0.047612227648380204,
 18.5149347733653,
 4.37095149124681,
 4.37095149124681,
 19.20339607018974,
 11.13784713854975,
 11.13784713854975,
 0.4428943944294862,
 0.4428943944294862,
 19.20339607018974,
 0.4428943944294862,
 0.9859861302805104,
 11.13784713854975,
 2.4980417439852016,
 0.0,
 0.3331227001494248,
 0.4428943944294862,
 0.03724365058570756,
 0.0,
 3.107834629466669,
 0.4428943944294862,
 0.12979699450143894,
 19.30160009907984,
 0.0031075881091631482,
 4.37095149124681,
 3.107834629466669,
 19.30160009907984,
 11.13784713854975,
 0.4428943944294862,
 0.30592217053583826,
 18.5149347733653,
 19.20339607018974,
 0.02116153115647573,
 11.13784713854975,
 0.3331227001494248,
 0.9859861302805104,
 19.20339607018974,
 19.20339607018974,
 0.4428943944294862,
 19.30160009907984,
 19.20339607018974,
 11.13784713854975,
 11.13784713854975,
 0.20523404066605191,
 0.03257984511766745,
 18.5149347733653,
 0.0031075881091631482,
 19.30160009907984,
 0.007388708750976723,
 0.0,
 19.30160009907984,
 3.107834629466669,
 3.107834629466669,
 18.5149347733653,
 19.30160009907984,
 4.504296698688423,
 11.13784713854975,
 6.340698915960192,
 0.9859861302805104,
 0.0037749488235158256,
 19.30160009907984,
 18.5149347733653,
 0.3331227001494248,
 11.13784713854975,
 19.20339607018974,
 18.5149347733653,
 1.929949891034684,
 0.9859861302805104,
 4.37095149124681,
 0.0,
 0.01038076146219663,
 3.107834629466669,
 1.3056887255631182,
 19.20339607018974,
 0.0,
 0.4428943944294862,
 18.5149347733653,
 11.13784713854975,
 0.0,
 6.340698915960192,
 0.3331227001494248,
 4.37095149124681,
 0.4428943944294862,
 0.3331227001494248,
 0.12879306890298714,
 0.3331227001494248,
 4.37095149124681,
 11.13784713854975,
 19.20339607018974,
 1.929949891034684,
 0.30592217053583826,
 0.4428943944294862,
 0.3331227001494248,
 11.13784713854975,
 0.6582115298556794,
 0.0031075881091631482,
 0.0,
 0.0,
 0.0,
 4.37095149124681,
 0.3331227001494248,
 19.20339607018974,
 ...]

In [17]:
float(total[total['unique_carrier']=='B6']['perc_total_gallon'].head(1))

4.37095149124681

In [18]:
weight=[]
for i in data['unique_carrier']:
    if not total[total['unique_carrier']==i].empty:
        weight.append(float(total[total['unique_carrier']=='B6']['perc_total_gallon'].head(1)))
    else:
        weight.append(0)

In [19]:
# add it to the data
data['perc_total_gallon']=weight

In [20]:
data.head()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source,perc_passenger,perc_passenger_carrier,perc_total_gallon
0,0,1,1000,5,0,0,0,34,30,28,2O,20443,Island Air Service,D,2O,Island Air Service,1,5,12721,32721,KLN,"Larsen Bay, AK",US,United States,13863,33863,OLH,"Old Harbor, AK",US,United States,0,79,3,2019,3,1,L,DU,9.181248,0.001651,0.000000
1,2,2,69806,338,327,96,0,2300,708,632,UA,19977,United Air Lines Inc.,D,UA,United Air Lines Inc.,3,3,10721,30721,BOS,"Boston, MA",US,United States,14107,30466,PHX,"Phoenix, AZ",US,United States,6,622,1,2015,1,5,F,DU,7.409210,9.519185,4.370951
2,0,4,5400,30,7,0,16,148,205,181,8V,20333,Wright Air Service,D,8V,Wright Air Service,1,5,13016,33016,LMA,"Lake Minchumina, AK",US,United States,11630,31517,FAI,"Fairbanks, AK",US,United States,1,194,1,2015,8,1,F,DU,9.279890,0.007005,0.000000
3,22,22,1137400,4114,2458,852,21195,1727,4970,4452,AA,19805,American Airlines Inc.,D,AA,American Airlines Inc.,3,3,14869,34614,SLC,"Salt Lake City, UT",US,United States,11057,31057,CLT,"Charlotte, NC",US,United States,6,699,1,2018,1,4,F,DU,7.409210,15.084078,4.370951
4,12,12,358800,1320,1130,202,0,106,546,299,DL,19790,Delta Air Lines Inc.,D,DL,Delta Air Lines Inc.,3,3,10397,30397,ATL,"Atlanta, GA",US,United States,10980,30980,CHA,"Chattanooga, TN",US,United States,6,608,1,2017,12,1,F,DU,8.953490,14.582038,4.370951

# Flights data
Now we are going to import flights data and add the colums percentage of passanger

In [21]:
#importing data
flights=pd.read_csv('C:/Users/bd/lighthouse-data-notes/Week_5/Day_5/mid-term-project-I/fligths_all_1.csv')
pd.set_option('display.max_columns',100)
flights.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,year,month,minutes,hours,proba_delay_origin,proba_delay_dest,proba_delay_distance,proba_delay_month,weight_delay_hour,perc_total_gallon
0,0,0,0,2019-06-04,8,UA,UA,2094,21,N815UA,2094,12266,IAH,"Houston, TX",12953,LGA,"New York, NY",1630,1742.0,72.0,12.0,1754.0,2149.0,37.0,2102,2226.0,84.0,0,NaN,0,N,212,224.0,175.0,1,1416,9.0,0.0,12.0,0.0,63.0,NaN,NaN,NaN,NaN,2019,6,26.0,22,17.353601,24.566415,2.509692,75.994695,80.748827,9.349648
1,1,1,1,2019-10-14,3,DL,DL,2953,7,N811DZ,2953,12889,LAS,"Las Vegas, NV",14869,SLC,"Salt Lake City, UT",1407,1543.0,96.0,24.0,1607.0,1803.0,5.0,1630,1808.0,98.0,0,NaN,0,N,83,85.0,56.0,1,368,96.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,10,8.0,18,3.417670,15.119363,1.662926,21.618037,40.522342,6.983655
2,2,2,2,2019-04-26,2,B6,B6,952,4,N563JB,952,13204,MCO,"Orlando, FL",10721,BOS,"Boston, MA",1303,1419.0,76.0,13.0,1432.0,1705.0,10.0,1601,1715.0,74.0,0,NaN,0,N,178,176.0,153.0,1,1121,0.0,0.0,74.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,4,15.0,17,13.997143,9.630688,0.438686,31.391553,32.768823,8.606658
3,3,3,3,2018-07-23,8,UA_CODESHARE,UA,3433,25,N645RW,3433,11292,DEN,"Denver, CO",11109,COS,"Colorado Springs, CO",1400,1357.0,-3.0,10.0,1407.0,1426.0,6.0,1447,1432.0,-15.0,0,NaN,0,N,47,35.0,19.0,1,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,7,32.0,14,18.445215,3.744134,1.968986,89.746990,6.008978,9.735205
4,4,4,4,2019-09-25,0,AA_CODESHARE,AA,5206,17,N508AE,5206,11617,EWN,"New Bern/Morehead/Beaufort, NC",11057,CLT,"Charlotte, NC",911,905.0,-6.0,13.0,918.0,1004.0,10.0,1044,1014.0,-30.0,0,NaN,0,N,93,69.0,46.0,1,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,9,14.0,10,-0.214242,7.671904,0.367272,4.458274,-16.404815,8.570351

In [22]:
# add it to the data
passenger['perc_passenger']=passenger['passengers']/passenger['passengers'].sum()*100
weight=[]
for i in flights['month']:
    weight.append(float(passenger[passenger['month']==i]['perc_passenger']))
flights['perc_passenger']=weight

In [23]:
flights.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,year,month,minutes,hours,proba_delay_origin,proba_delay_dest,proba_delay_distance,proba_delay_month,weight_delay_hour,perc_total_gallon,perc_passenger
0,0,0,0,2019-06-04,8,UA,UA,2094,21,N815UA,2094,12266,IAH,"Houston, TX",12953,LGA,"New York, NY",1630,1742.0,72.0,12.0,1754.0,2149.0,37.0,2102,2226.0,84.0,0,NaN,0,N,212,224.0,175.0,1,1416,9.0,0.0,12.0,0.0,63.0,NaN,NaN,NaN,NaN,2019,6,26.0,22,17.353601,24.566415,2.509692,75.994695,80.748827,9.349648,8.925785
1,1,1,1,2019-10-14,3,DL,DL,2953,7,N811DZ,2953,12889,LAS,"Las Vegas, NV",14869,SLC,"Salt Lake City, UT",1407,1543.0,96.0,24.0,1607.0,1803.0,5.0,1630,1808.0,98.0,0,NaN,0,N,83,85.0,56.0,1,368,96.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,10,8.0,18,3.417670,15.119363,1.662926,21.618037,40.522342,6.983655,7.327001
2,2,2,2,2019-04-26,2,B6,B6,952,4,N563JB,952,13204,MCO,"Orlando, FL",10721,BOS,"Boston, MA",1303,1419.0,76.0,13.0,1432.0,1705.0,10.0,1601,1715.0,74.0,0,NaN,0,N,178,176.0,153.0,1,1121,0.0,0.0,74.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,4,15.0,17,13.997143,9.630688,0.438686,31.391553,32.768823,8.606658,7.037544
3,3,3,3,2018-07-23,8,UA_CODESHARE,UA,3433,25,N645RW,3433,11292,DEN,"Denver, CO",11109,COS,"Colorado Springs, CO",1400,1357.0,-3.0,10.0,1407.0,1426.0,6.0,1447,1432.0,-15.0,0,NaN,0,N,47,35.0,19.0,1,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,7,32.0,14,18.445215,3.744134,1.968986,89.746990,6.008978,9.735205,8.919520
4,4,4,4,2019-09-25,0,AA_CODESHARE,AA,5206,17,N508AE,5206,11617,EWN,"New Bern/Morehead/Beaufort, NC",11057,CLT,"Charlotte, NC",911,905.0,-6.0,13.0,918.0,1004.0,10.0,1044,1014.0,-30.0,0,NaN,0,N,93,69.0,46.0,1,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,9,14.0,10,-0.214242,7.671904,0.367272,4.458274,-16.404815,8.570351,7.640727

### Adding fuel per airport
Now we are going to add perc_total_gallon and call it total_gallon_carrier

In [24]:
weight=[]
for i in flights['origin_airport_id']:
    if not data[data['origin_airport_id']==i].empty:
        weight.append(float(data[data['origin_airport_id']==i]['perc_total_gallon'].head(1)))
    else:
        weight.append(0)
flights['total_gallon_carrier']=weight

In [25]:
flights.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,year,month,minutes,hours,proba_delay_origin,proba_delay_dest,proba_delay_distance,proba_delay_month,weight_delay_hour,perc_total_gallon,perc_passenger,total_gallon_carrier
0,0,0,0,2019-06-04,8,UA,UA,2094,21,N815UA,2094,12266,IAH,"Houston, TX",12953,LGA,"New York, NY",1630,1742.0,72.0,12.0,1754.0,2149.0,37.0,2102,2226.0,84.0,0,NaN,0,N,212,224.0,175.0,1,1416,9.0,0.0,12.0,0.0,63.0,NaN,NaN,NaN,NaN,2019,6,26.0,22,17.353601,24.566415,2.509692,75.994695,80.748827,9.349648,8.925785,4.370951
1,1,1,1,2019-10-14,3,DL,DL,2953,7,N811DZ,2953,12889,LAS,"Las Vegas, NV",14869,SLC,"Salt Lake City, UT",1407,1543.0,96.0,24.0,1607.0,1803.0,5.0,1630,1808.0,98.0,0,NaN,0,N,83,85.0,56.0,1,368,96.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,10,8.0,18,3.417670,15.119363,1.662926,21.618037,40.522342,6.983655,7.327001,4.370951
2,2,2,2,2019-04-26,2,B6,B6,952,4,N563JB,952,13204,MCO,"Orlando, FL",10721,BOS,"Boston, MA",1303,1419.0,76.0,13.0,1432.0,1705.0,10.0,1601,1715.0,74.0,0,NaN,0,N,178,176.0,153.0,1,1121,0.0,0.0,74.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,4,15.0,17,13.997143,9.630688,0.438686,31.391553,32.768823,8.606658,7.037544,4.370951
3,3,3,3,2018-07-23,8,UA_CODESHARE,UA,3433,25,N645RW,3433,11292,DEN,"Denver, CO",11109,COS,"Colorado Springs, CO",1400,1357.0,-3.0,10.0,1407.0,1426.0,6.0,1447,1432.0,-15.0,0,NaN,0,N,47,35.0,19.0,1,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,7,32.0,14,18.445215,3.744134,1.968986,89.746990,6.008978,9.735205,8.919520,4.370951
4,4,4,4,2019-09-25,0,AA_CODESHARE,AA,5206,17,N508AE,5206,11617,EWN,"New Bern/Morehead/Beaufort, NC",11057,CLT,"Charlotte, NC",911,905.0,-6.0,13.0,918.0,1004.0,10.0,1044,1014.0,-30.0,0,NaN,0,N,93,69.0,46.0,1,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,9,14.0,10,-0.214242,7.671904,0.367272,4.458274,-16.404815,8.570351,7.640727,0.000000

### Adding column mean departure delay
depending on which airport is the origin

In [26]:
dep_delay_mean=flights[['origin_airport_id','dep_delay']].groupby('origin_airport_id').mean().reset_index()
dep_delay_mean.sort_values('dep_delay', ascending=False)

     origin_airport_id   dep_delay
5                10154  419.000000
179              13034  158.000000
115              11865  156.000000
42               10731  150.500000
247              14303  108.333333
..                 ...         ...
89               11468  -18.000000
158              12519  -23.000000
312              15454  -24.000000
236              14109  -25.000000
219              13873  -29.000000

[317 rows x 2 columns]

In [27]:
#Calculating the percentage of passengers per month
dep_delay_mean['perc_dep_delay']=dep_delay_mean['dep_delay']/dep_delay_mean['dep_delay'].sum()*100
weight=[]
for i in flights['origin_airport_id']:
    weight.append(float(dep_delay_mean[dep_delay_mean['origin_airport_id']==i]['perc_dep_delay']))

In [28]:
# add it to the data
flights['perc_dep_delay']=weight

In [29]:
flights.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,year,month,minutes,hours,proba_delay_origin,proba_delay_dest,proba_delay_distance,proba_delay_month,weight_delay_hour,perc_total_gallon,perc_passenger,total_gallon_carrier,perc_dep_delay
0,0,0,0,2019-06-04,8,UA,UA,2094,21,N815UA,2094,12266,IAH,"Houston, TX",12953,LGA,"New York, NY",1630,1742.0,72.0,12.0,1754.0,2149.0,37.0,2102,2226.0,84.0,0,NaN,0,N,212,224.0,175.0,1,1416,9.0,0.0,12.0,0.0,63.0,NaN,NaN,NaN,NaN,2019,6,26.0,22,17.353601,24.566415,2.509692,75.994695,80.748827,9.349648,8.925785,4.370951,0.418572
1,1,1,1,2019-10-14,3,DL,DL,2953,7,N811DZ,2953,12889,LAS,"Las Vegas, NV",14869,SLC,"Salt Lake City, UT",1407,1543.0,96.0,24.0,1607.0,1803.0,5.0,1630,1808.0,98.0,0,NaN,0,N,83,85.0,56.0,1,368,96.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,10,8.0,18,3.417670,15.119363,1.662926,21.618037,40.522342,6.983655,7.327001,4.370951,0.326987
2,2,2,2,2019-04-26,2,B6,B6,952,4,N563JB,952,13204,MCO,"Orlando, FL",10721,BOS,"Boston, MA",1303,1419.0,76.0,13.0,1432.0,1705.0,10.0,1601,1715.0,74.0,0,NaN,0,N,178,176.0,153.0,1,1121,0.0,0.0,74.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,4,15.0,17,13.997143,9.630688,0.438686,31.391553,32.768823,8.606658,7.037544,4.370951,0.520165
3,3,3,3,2018-07-23,8,UA_CODESHARE,UA,3433,25,N645RW,3433,11292,DEN,"Denver, CO",11109,COS,"Colorado Springs, CO",1400,1357.0,-3.0,10.0,1407.0,1426.0,6.0,1447,1432.0,-15.0,0,NaN,0,N,47,35.0,19.0,1,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,7,32.0,14,18.445215,3.744134,1.968986,89.746990,6.008978,9.735205,8.919520,4.370951,0.391364
4,4,4,4,2019-09-25,0,AA_CODESHARE,AA,5206,17,N508AE,5206,11617,EWN,"New Bern/Morehead/Beaufort, NC",11057,CLT,"Charlotte, NC",911,905.0,-6.0,13.0,918.0,1004.0,10.0,1044,1014.0,-30.0,0,NaN,0,N,93,69.0,46.0,1,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,9,14.0,10,-0.214242,7.671904,0.367272,4.458274,-16.404815,8.570351,7.640727,0.000000,0.275866

### Adding percentage passenger per carrier

In [31]:
flights.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,year,month,minutes,hours,proba_delay_origin,proba_delay_dest,proba_delay_distance,proba_delay_month,weight_delay_hour,perc_total_gallon,perc_passenger,total_gallon_carrier,perc_dep_delay
0,0,0,0,2019-06-04,8,UA,UA,2094,21,N815UA,2094,12266,IAH,"Houston, TX",12953,LGA,"New York, NY",1630,1742.0,72.0,12.0,1754.0,2149.0,37.0,2102,2226.0,84.0,0,NaN,0,N,212,224.0,175.0,1,1416,9.0,0.0,12.0,0.0,63.0,NaN,NaN,NaN,NaN,2019,6,26.0,22,17.353601,24.566415,2.509692,75.994695,80.748827,9.349648,8.925785,4.370951,0.418572
1,1,1,1,2019-10-14,3,DL,DL,2953,7,N811DZ,2953,12889,LAS,"Las Vegas, NV",14869,SLC,"Salt Lake City, UT",1407,1543.0,96.0,24.0,1607.0,1803.0,5.0,1630,1808.0,98.0,0,NaN,0,N,83,85.0,56.0,1,368,96.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,10,8.0,18,3.417670,15.119363,1.662926,21.618037,40.522342,6.983655,7.327001,4.370951,0.326987
2,2,2,2,2019-04-26,2,B6,B6,952,4,N563JB,952,13204,MCO,"Orlando, FL",10721,BOS,"Boston, MA",1303,1419.0,76.0,13.0,1432.0,1705.0,10.0,1601,1715.0,74.0,0,NaN,0,N,178,176.0,153.0,1,1121,0.0,0.0,74.0,0.0,0.0,NaN,NaN,NaN,NaN,2019,4,15.0,17,13.997143,9.630688,0.438686,31.391553,32.768823,8.606658,7.037544,4.370951,0.520165
3,3,3,3,2018-07-23,8,UA_CODESHARE,UA,3433,25,N645RW,3433,11292,DEN,"Denver, CO",11109,COS,"Colorado Springs, CO",1400,1357.0,-3.0,10.0,1407.0,1426.0,6.0,1447,1432.0,-15.0,0,NaN,0,N,47,35.0,19.0,1,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,7,32.0,14,18.445215,3.744134,1.968986,89.746990,6.008978,9.735205,8.919520,4.370951,0.391364
4,4,4,4,2019-09-25,0,AA_CODESHARE,AA,5206,17,N508AE,5206,11617,EWN,"New Bern/Morehead/Beaufort, NC",11057,CLT,"Charlotte, NC",911,905.0,-6.0,13.0,918.0,1004.0,10.0,1044,1014.0,-30.0,0,NaN,0,N,93,69.0,46.0,1,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,9,14.0,10,-0.214242,7.671904,0.367272,4.458274,-16.404815,8.570351,7.640727,0.000000,0.275866

In [30]:
weight=[]
for i in flights['origin_airport_id']:
    #if not data[data['origin_airport_id']==i].empty:
    #    weight.append(float(data[data['origin_airport_id']==i]['perc_passenger_carrier'].head(1)))
    #else:
       # weight.append(0)
    print(weight.append(float(data[data['origin_airport_id']==i]['perc_passenger_carrier'].head(1))))
#flights['perc_passenger_carrier']=weight

None
None
None
None

TypeError: cannot convert the series to <class 'float'>

In [ ]:
flights.head()

### Adding column mean arrival delay
depending on which airport is the destination

In [ ]:
arr_delay_mean=flights[['dest_airport_id','arr_delay']].groupby('dest_airport_id').mean().reset_index()
arr_delay_mean.sort_values('arr_delay', ascending=False)

In [ ]:
#Calculating the percentage of arrival delay per airport
arr_delay_mean['perc_arr_delay']=arr_delay_mean['arr_delay']/arr_delay_mean['arr_delay'].sum()*100
weight=[]
for i in flights['dest_airport_id']:
    weight.append(float(arr_delay_mean[arr_delay_mean['dest_airport_id']==i]['perc_arr_delay']))

In [ ]:
# add it to the data
flights['perc_arr_delay']=weight

In [ ]:
#flights.to_csv('fligths_newvafupa.csv')

In [ ]:
flights.to_csv('fligths_all_f.csv')