In [1]:
import pandas as pd
import pgaccess as pg

I don't really have something interesting I'd like to look at here. I know I want these numbers for the prediction model, but as for plotting them etc I don't have many ideas

In [3]:
carrierDelay = pg.execute_query('''
SELECT
    op_unique_carrier,
    EXTRACT(MONTH FROM TO_DATE(fl_date, 'YYYY-MM-DD')) AS "month",
    AVG(arr_delay) AS mean_delay,
    COUNT(*) AS flight_count
FROM flights
GROUP BY op_unique_carrier, "month"
''')
carrierDelay

    op_unique_carrier  month  mean_delay  flight_count
0                  9E    1.0    3.846229         37344
1                  9E    2.0    4.716917         35695
2                  9E    3.0    2.283191         43656
3                  9E    4.0    6.712606         41954
4                  9E    5.0    1.303258         42195
..                ...    ...         ...           ...
315                ZW    8.0    9.679506         17354
316                ZW    9.0    4.777711         17117
317                ZW   10.0   -3.330630         17883
318                ZW   11.0    4.054967         17166
319                ZW   12.0    2.088399         17059

[320 rows x 4 columns]

In [6]:
carrierDelay['month'] = carrierDelay.month.astype(int)

In [7]:
# Write to file
carrierDelay.to_csv('../data/monthly_carrier_delay.csv', index=False)